<!DOCTYPE html>
	<html>
	<head>
		<style>
		fieldset{
			background-color:"lightblue";
			min-width: 100px;
		}
	</style>
	<script src="js/angular.min.js"></script>

	<script>
		var app=angular.module("myApp",[]);
			app.controller("myCntrl",function($scope){
				$scope.factorial=function()
				{
					var fact=1;
					for(var i=1;i<= $scope.n;i++){
					fact *=i;
				}
				$scope.result=fact;
				return fact;
				}
				
			});
	</script>
	</head>
	<body ng-App="myApp" ng-controller="myCntrl" >
		<fieldset>
			<table>
				<tr>
					<input type="number" ng-model="n"/>
				</tr>
				<tr>
					<input type="number" ng-model="result"/>
				</tr>
				<tr>
					<input type="button" value="calculate" ng-click="factorial()"/>
				</tr>
			</table>
	
		</fieldset>
		
	</body>	
	</html>
	