<!DOCTYPE html>
	<html>
		<head>
			<script src="js/angular.min.js"></script>
		</head>
	<body>
		<div ng-App="studentApp" ng-controller="studentController">
			<table border="1"  cellspacing="10" cellspacing="10">
				<tr>
					<th>StudentName</th>
					<th>Subject</th>
					<th>Marks</th>
					<th>Total</th>
					<th>Average</th>
				</tr>
				<tr>
					<td>{{student[0].name}}</td>
					<td>
					<li ng-repeat="subject in student[0].subjects |orderBy:'marks' ">
						{{ subject.name}} 
					</li></td>
					<td>
						<li ng-repeat="mark in student[0].subjects ">
						{{mark.marks}}
					</li>
					</td>
					<td>
						{{student[0].total()}}
					</td>
					<td>{{student[0].average()|number:2}}</td>
				</tr>
				<tr>
					<td>{{student[1].name}}</td>
					<td>
					<li ng-repeat="subject in student[1].subjects |orderBy:'marks' ">
						{{ subject.name}} 
					</li></td>
					<td>
						<li ng-repeat="mark in student[1].subjects ">
						{{mark.marks}}
					</li>
					</td>
					<td>
						{{student[1].total()}}
					</td>
					<td>{{student[1].average()|number:2}}</td>
				</tr>

			</table>
			<p>the greatest average is:{{greatest()}} </p>

		</div>
	
<script>
	var app=angular.module("studentApp",[]);
	app.controller("studentController" ,function ($scope)
	{
		$scope.student=[
							{ name:'Nidhi',
								subjects:[
							
							{ name:'CoreJava',marks:70 },
							{ name:'Servlets',marks:80 },
							{ name:'SpringMVC',marks:70 }
							],
						
							total:function()
									{
				                 		var sum=0;  
				                 		for(i=0;i<$scope.student[0].subjects.length;i++)
				                  				{
				                  					sum = sum + $scope.student[0].subjects[i].marks;

												}
												return sum;

									},
							average:function()
									{
										return $scope.student[0].total() / $scope.student[0].subjects.length;
								}
							},

							
										{ name:'Suman',
										subjects:[
							
										{ name:'CoreJava',marks:60 },
										{ name:'Servlets',marks:80 },
										{ name:'SpringMVC',marks:90 }
										],
						
									total:function()
									{
				                 		var sum=0;  
				                 		for(i=0;i<$scope.student[1].subjects.length;i++)
				                  				{
				                  					sum = sum + $scope.student[1].subjects[i].marks;

												}
												return sum;

									},
							average:function()
									{
										return $scope.student[1].total() / $scope.student[1].subjects.length;
									}
								}
							]
							$scope.greatest=function()
						{
							var avg1=$scope.student[0].average();
							var avg2=$scope.student[1].average();
							if(avg1>avg2)
								return avg1;
							else
								return avg2;
						}

				});		


</script>
</body>
</html>
	